*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Example/Release
/Example/Win32
/ipch
/Example/Debug
/QCefWebView/Debug
/QCefWebView/Release
/Win32/Debug/.cache
/Win32/Release/.cache
/Win32/Debug/libcef.dll
/Example.VC.db
/Example.VC.VC.opendb
/.vs/Example/v14/.suo
/Example/GeneratedFiles/Release/moc_MessageBoxFromOtherThread.cpp
/QCefWebView/GeneratedFiles/Release/moc_QCefWebView.cpp
/Win32/Debug/debug.log
/Win32/Release/.vs/Example/v14/.suo
/Win32/Release/Example.ilk
/Win32/Release/Example.pdb
/Win32/Release/QCefWebView.ilk
/Win32/Release/QCefWebView.pdb
/Win32/Release/debug.log
